.coin-container {
  max-width: 740px;
}

.rank-btn {
  border: 0.0625rem solid #6900ff;
  background-color: #6900ff;
  border-radius: 0.375rem;
  padding: 0.3rem 0.5rem;
}

table {
  margin: 0.5rem 0;

  td,
  th {
    padding: 0.5rem;
    text-align: center;
    border: none !important;
  }

  th {
    background-color: #333 !important;
  }
}

.box {
  padding: 20px;

  &:not(:last-child) {
    border-bottom: 1px solid #d3d3d3;
  }

  &.box-border {
    @media (max-width: 767px) {
      border-bottom: 1px solid #d3d3d3;
    }
  }
}
